:host {

  display: block;
  padding: 55px 0 20px;

  #country-app {
    border: rgba(0, 0, 0, 0.12) solid 1px;
    border-radius: 8px;
    width: 300px;
    height: 350px;
    padding: 70px;
    overflow: auto;
    box-shadow: 3px 3px 15px #8080806b;
    margin: auto;
  }

  .spinner {
    display: flex;
  }
}
